:root:not(.dark),
.dark:root{
    --f7-navbar-bg-color: #a12244;
    --f7-bars-bg-color: #a12244;
    --f7-bars-text-color: #fff;
    --f7-navbar-subtitle-text-color: #fff;
    --f7-bars-link-color: #fff;
    --f7-theme-color-shade:#a12244;
    --f7-button-fill-pressed-bg-color:#a12244;
    --f7-theme-color: #a12244;
    --f7-theme-color-tint: #a12244;
    --f7-theme-color-rgb: 161, 34, 68;
    --f7-button-pressed-bg-color:rgba(161, 34, 68, .3);
    --f7-link-touch-ripple-color:rgba(161, 34, 68, .3);
    --f7-list-item-divider-text-color: rgba(255,255,255,.8);
    --f7-table-selected-row-bg-color:rgba(128, 128, 128, 0.275);
    /* --f7-touch-ripple-color: rgba(255,255,255,.3); */
    /* --f7-link-highlight-color:rgba(255,255,255,.3); */
    /* --f7-button-text-color:rgba(255,255,255,.3); */
    /* --f7-button-pressed-bg-color:rgba(255,255,255,.3); */
    /* --f7-navbar-large-title-text-color:#a12244; */
}
td{
    cursor: pointer;
}
.active-page-number{
    background-color: var(--f7-page-bg-color);
    color: var(--f7-theme-color)!important;
    font-size: 28px;
    font-weight: bold;
}
.dark:root{
    --f7-button-text-color: #da315e;
}
:root:not(.dark){
    --f7-page-bg-color: #f8f9fa;
}
.dark .panel-left .page-content{
    border-right: 1px solid #1b1b1b!important;
}
.panel-left .page-content:not(.dark){
    border-right: 1px solid #f0f0f0;
}
::-webkit-scrollbar-track{
	border-radius: 2px;
}
.dark ::-webkit-scrollbar-track{
	background-color: #676767!important;
}
::-webkit-scrollbar{
	width: 7px;
    height: 7px;
}
::-webkit-scrollbar-thumb{
	border-radius: 2px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background: rgba(0,0,0,.3);
    cursor: pointer;
}
tbody td img:hover{
    transform: scale(1.1);
}
tbody td img{
    transition: transform .3s ease;
    border-radius: 5pt;
}
tbody tr:nth-child(odd) {
    background: rgba(128, 128, 128, 0.1);
}

.item-link.smart-select{}
.item-link.smart-select  i + span, .item-link.smart-select  span + span, .item-link.smart-select  span + i, .item-link.smart-select  i + i{
    margin-left: 4px;
}
.page-numbers{
    width: calc(100% - 100px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
}

.data-table-actions *::marker{
    content: '';
}
.data-table-actions{
    color: var(--f7-theme-color);
}
.data-table-actions .item-after{
    display: none!important;
}
.popover-inner .list ul{
    padding-top: 47px;
}
.popover-inner .list .item-divider{
    background-color: var(--f7-theme-color);
    font-weight: 500;
    letter-spacing: -0.3px;
    font-size: 16px;
    position: fixed;
    width: 100%;
    top: 0;
}

.image-cell > a{
    position: absolute!important;
    top: 50%;
    transform: translateY(-50%);
}
.button{
    text-transform: unset!important;
    letter-spacing: -0.3px!important;
}
.w150-cell{
    min-width: 150px;
}

.w100-cell{
    min-width: 100px;
}
.w120-cell{
    min-width: 120px;
}
.w80-cell{
    min-width: 80px;
}
.w60-cell{
    min-width: 60px;
}
.searchWrap{}